@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__foto/profile__foto.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/foto/foto.css);
@import url(../blocks/foto/__description/foto__description.css);
@import url(../blocks/foto/__item/foto__item.css);
@import url(../blocks/foto/__like-button/foto__like-button.css);
@import url(../blocks/foto/__like-button/_active/foto__like-button_active.css);
@import url(../blocks/foto/__name/foto__name.css);
@import url(../blocks/foto/__picture/foto__picture.css);
@import url(../blocks/foto/__delete-button/foto__delete-button.css);
@import url(../blocks/popup/__preview/popup__preview.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
